{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact | Mr. Snow</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<div class="back-btn-wrap">
    <a href="{% url 'home' %}" class="back-btn">← Back</a>
</div>

<body>

<section class="contact-section">
    <div class="contact-container">

        <div class="contact-left">
            <h2>Talk to us – we’re all ears<br>(and hearts!)</h2>

            <p>
                Whether it's a question, feedback, or just a hello,
                we'd love to hear from you 🍦
            </p>

            <div class="contact-info">
                <p>📞 +91 9011222009</p>
                <p>✉️ support@mrsnowicecream.com</p>
            </div>

            <img
                src="{% static 'images/contact-icecream.png' %}"
                alt="Ice Cream"
                class="contact-image"
            >
        </div>

        <div class="contact-right">
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <textarea name="message" placeholder="Message" required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>

    </div>
</section>

</body>
</html>
